/* Extra small devices (phones, up to 480px) */

body {
  background: #f7f7f7;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 90%;
}
#main {
  margin: 0 auto;
  padding: 0 15px;
  background: #fff;
  overflow: hidden;
}
#logo {
  display: block;
  text-align: center;
  padding: 4em 0;
}
#ft {
  margin: 4em 0 2em;
  text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #main {
    max-width: 750px;
  }
  .icon {
    font-size: 20px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 922px) {
  #main {
    max-width: 970px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #main {
    max-width: 1170px;
  }
}
