<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TABLEFLIP - we build websites, apps, robots and communities</title>
<link href="http://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<link rel="stylesheet" href="main.css">
</head>
<body>
  <header>
    <div id="logo">
      <a href="/" title="(╯°□°）╯︵ ┻━┻"><img src="img/logo-stroke.svg"></a>
    </div>
    <nav>
      <ul>
        <li><a href="#about" title="About"><img src="img/icon-info.svg"><span>About</span></a></li>
        <li><a href="#portfolio" title="Portfolio"><img src="img/icon-briefcase.svg"><span>Portfolio</span></a></li>
        <li><a href="/blog" title="Blog"><img src="img/icon-blog.svg"><span>Blog</span></a></li>
        <li><a href="/contact" title="Contact"><img src="img/icon-phone.svg"><span>Contact</span></a></li>
      </ul>
    </nav>
  </header>
  <div id="hero">
    <img class="layer" data-depth="0.00" src="img/hero0.jpg" alt="NodeSchool at SINFO">
    <ul id="we-build">
      <li><span>We Build</span></li>
      <li><span>Websites</span></li>
      <li><span>Apps</span></li>
      <li><span>Robots</span></li>
      <li><span>Community</span></li>
    </ul>
  </div>
  <main>

    <a name="about"></a>
    <section id="sec-about" class="section">
      <div class="container">
        <h1>Test the ideas</h1>
        <p><strong><em>Ideas are king, but not all of them are royalty material.</em></strong></p>
        <p>Still, it's important to find out. You really don't know what kind of idea you've got until it's been tested. TABLEFLIP encourages a creative working relationship where all the things are tried out to see what works best.</p>
        <blockquote>
          <p>The only way of discovering the limits of the possible is to venture a little way past them into the impossible.</p>
          <p>Arthur C. Clarke, "Profiles of The Future", 1961</p>
        </blockquote>
        <p>Stuff that doesn't work gets pruned and you're left with an awesome simple thing that does something new and interesting.</p>
        <p>What if you could ship a thing after a week? How about every week? Well, this is what tableflip does...and then you can change direction of the project, reprioritise, or continue with the plan.</p>
      </div>
    </section>

    <a name="portfolio"></a>
    <div id="sec-portfolio" class="section">
      <div class="container">
        <h1>Portfolio</h1>
        <p>We build amazing websites and apps and things.</p>
        <p>Need help building something?</p>
        <form action="/contact" method="get">
          <button type="submit">&#8594; Get in touch</button>
        </form>
      </div>
    </div>

    <a name="nodebots"></a>
    <div id="piece-nodebots" class="piece dark closed">
      <div class="container">
        <h2>NodeBots</h2>
        <p>TABLEFLIP have co-organised the nodebots meetup since mid 2013.</p>
        <div class="full">
          <p>TABLEFLIP jointly built the <code>nodebot-workshop</code> a commmand line based workshop designed to get people up and running with the de facto Node.js library for communicating with hardware: `johnny-five` through a series of code challenges that make use of hardware components commonly used by hardware enthusiasts. TABLEFLIP also built the new [nodebots website](http://nodebots.io/).</p>

          <p>TABLEFLIP were invited to [NodeConf](http://nodeconf.com/) 2014 in San Francisco to run the hardware workshop.</p>

          <p>For NodeBots day 2014, TABLEFLIP collaborated with Alex Potsides to produce an extra special meetup where attendees could buy and build their own bluetooth powered, laser cut robot vehicles.</p>
        </div>
      </div>
    </div>

    <a name="intimate-objects"></a>
    <div id="piece-intimate-objects" class="piece dark closed">
      <div class="container">
        <h2>Intimate Objects</h2>
        <p>TABLEFLIP were comissioned by Intimate Objects to build a website and CMS allowing visitors to design, create and share intimate objects with each other.</p>
        <div class="full">
          <p>The site uses the [KeystoneJS](http://keystonejs.com/) CMS and shows off some incredible 3D graphics made possible using [three.js](http://threejs.org/).</p>
        </div>
      </div>
    </div>

    <a name="polestar"></a>
    <div id="piece-polestar" class="piece light closed">
      <div class="container">
        <h2>Polestar</h2>
        <p>TABLEFLIP worked extensively with Polestar on their flagship application Purplefinder.</p>
        <div class="full">
          <p>[Polestar Space Applications](http://www.polestarglobal.com/) primarily allow their customers to track and monitor their fleet through various web and mobile applications. TABLEFLIP worked extensively with Polestar on their flagship application Purplefinder.</p>

          <p>TABLEFLIP was tasked with re-skining their aging Java applet based web application to give it a new lease of life. We worked closely with the backend team to integrate a new look and feel and port the features of the applet to a new, modern, [LeafletJS](http://leafletjs.com/) based map. We made use of the latest web technologies such as websockets and CSS3 animations whilst also ensuring the application was useable on mobile devices.</p>

          <p>TABLEFLIP also built their main website and their newest product to hit the financial market [PurpleTRAC](http://purpletrac.polestarglobal.com/trade-and-commodity-finance/what-is-purpletrac).</p>
        </div>
      </div>
    </div>

    <a name="meteor"></a>
    <div id="piece-meteor" class="piece light closed">
      <div class="container">
        <h2>Meteor</h2>
        <p>TABLEFLIP and friends organise the monthly Meteor London meetup.</p>
        <div class="full">
          <p>Meteor have contracted TABLEFLIP on a number of occasions to build various internal as well as external projects. Our most recent collaboration was on the "Meteor Now" campaign website, which aimed to raise $25,000 for [CodeNow](http://codenow.org/) - a nonprofit focused on teaching under-represented youth to code.</p>

          <p>TABLEFLIP recently started running [Meteor training](http://www.meteorlondon.com/) for javascript developers and beginners, aiming to introduce building web apps with Meteor.</p>

          <p>The first training day was a great success, we had around 10 students and also teamed up with [Ladies who Code](http://www.ladieswhocode.com/) to offer a scholorship place.</p>

          <blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/_alanshaw">@_alanshaw</a> &amp; <a href="https://twitter.com/olizilla">@olizilla</a> were a great double act, and incredibly patient with all my questions.</p>&mdash; Olu Niyi-Awosusi (@oluoluoxenfree) <a href="https://twitter.com/oluoluoxenfree/status/528292337873850368">October 31, 2014</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          <p>In October 2014 Meteor released the long awaited version 1.0 of the framework and with it redesigned their logo and website. TABLEFLIP were pleasantly surprised to find themselves featured on the [Professional Services](https://www.meteor.com/professional-services) page of the site.</p>
        </div>
      </div>
    </div>

  </main>
  <footer>
    &copy; 2014 TABLEFLIP Ltd. • All rights reserved.
  </footer>
  <script>
  (function () {
    var html = document.getElementsByTagName('html')[0]
    var scrolled = false

    setTimeout(function () { window.onscroll() })

    function addClass (el, className) {
      el.className = el.className.split(' ').concat(className).join(' ')
    }

    function removeClass (el, className) {
      var classes = el.className.split(' ')
      el.className = classes.filter(function (c) {
        return c != className
      }).join(' ')
    }

    window.onscroll = function () {
      if (window.scrollY > 0 && !scrolled) {
        addClass(html, 'scrolled')
        scrolled = true
      } else if (window.scrollY <= 0 && scrolled) {
        removeClass(html, 'scrolled')
        scrolled = false
      }
    }

    var pieces = document.querySelectorAll('.piece')

    ;[].forEach.call(pieces, function (piece) {
      piece.addEventListener('click', function (e) {
        if (piece.className.indexOf('closed') > -1) {
          piece.className = piece.className.replace('closed', 'open')
        }
      })
    })
  })()
  </script>
</body>
</html>