<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>TABLEFLIP - we build websites, apps, robots and communities</title>
<link rel="stylesheet" href="main.css">
</head>
<body>
  <header>
    <div id="logo">
      <a href="/" title="(╯°□°）╯︵ ┻━┻"><img src="img/logo-stroke.svg"></a>
    </div>
    <nav>
      <ul>
        <li><a href="#about" title="About"><img src="img/icon-info.svg"><span>About</span></a></li>
        <li><a href="#portfolio" title="Portfolio"><img src="img/icon-briefcase.svg"><span>Portfolio</span></a></li>
        <li><a href="/blog" title="Blog"><img src="img/icon-blog.svg"><span>Blog</span></a></li>
        <li><a href="/contact" title="Contact"><img src="img/icon-phone.svg"><span>Contact</span></a></li>
      </ul>
    </nav>
  </header>
  <div id="hero">
    <img src="img/hero0.jpg" alt="NodeSchool at SINFO">
    <ul id="we-build">
      <li><span>We Build</span></li>
      <li><span>Websites</span></li>
      <li><span>Apps</span></li>
      <li><span>Robots</span></li>
      <li><span>Community</span></li>
    </ul>
  </div>
  <main>
    <div class="container">
      <a name="about"></a>
      <h1>Test the ideas</h1>
      <p>Ideas are king, but not all of them are royalty material.</p>
      <p>Still, it's important to find out. You really don't know what kind of idea you've got until it's been tested. TABLEFLIP encourages a creative working relationship where all the things are tried out to see what works best.</p>
    </div>

    <section>
    </section>

  </main>
  <footer>
    &copy; 2014 TABLEFLIP Ltd. • All rights reserved.
  </footer>
  <script>
  (function () {
    var html = document.getElementsByTagName('html')[0]
    var scrolled = false

    setTimeout(function () { window.onscroll() })

    function addClass (el, className) {
      el.className = el.className.split(' ').concat(className).join(' ')
    }

    function removeClass (el, className) {
      var classes = el.className.split(' ')
      el.className = classes.filter(function (c) {
        return c != className
      }).join(' ')
    }

    window.onscroll = function () {
      if (window.scrollY > 0 && !scrolled) {
        addClass(html, 'scrolled')
        scrolled = true
      } else if (window.scrollY <= 0 && scrolled) {
        removeClass(html, 'scrolled')
        scrolled = false
      }
    }
  })()
  </script>
</body>
</html>