@font-face {
    font-family: 'varela_roundregular';
    src: url('font/varelaround-regular-webfont.eot');
    src: url('font/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/varelaround-regular-webfont.woff2') format('woff2'),
         url('font/varelaround-regular-webfont.woff') format('woff'),
         url('font/varelaround-regular-webfont.ttf') format('truetype'),
         url('font/varelaround-regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  margin: 0;
  background: #f7f7f7 url(img/tesselate.svg);
  background-size: 10% auto;
  color: #4A4A4A;
}
h1 {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 36px;
}
h2 {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 30px;
  margin: 20px 0;
}
h1:first-child, p:first-child {
  margin-top: 0;
}
a, a:visited {
  color: #4A4A4A;
}
a:hover {
  color: #18C8A0;
}
a[name] {
  position: relative;
  top: -30px;
}
blockquote {
  box-sizing: border-box;
  margin: 1.6em 0;
  padding: 0 0 0 1.6em;
  border-left: 0.4em solid #50E3C2;
}
blockquote p {
  font-style: italic;
}
a.btn {
  display: inline-block;
  font-family: "Noto Serif", serif;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  background: #E74C3C;
  border: 0;
  border-bottom: 5px solid #DB4334;
  border-radius: 2px;
  box-shadow: 0 0 2px #ccc;
  padding: 3px 15px;
  cursor: pointer;
  transition: box-shadow 0.25s linear;
}
a.btn:hover {
  box-shadow: 0 0 5px #DB4334;
}
a.btn:active {
  box-shadow: 0 0 4px #444 inset;
  border: 0;
  padding: 3px 15px 8px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#logo a {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  color: #4A4A4A;
  text-align: center;
}
#logo a::after {
  font-family: varela_roundregular, sans-serif;
  content: "TABLEFLIP";
  position: absolute;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  box-shadow: 0 2px 4px #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 1px 5px 0;
  font-size: 48px;
  top: 92px;
  left: -78px;
  transform: rotate(-6deg);
  transition: all 0.25s ease-out;
}
.scrolled #logo a::after {
  top: -100px;
  transform: rotate(15deg);
}
#logo img {
  width: 100%;
  transition: width 0.25s ease-out;
}
.scrolled #logo img {
  width: 73%;
}
nav {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 18px;
  padding: 18px 0;
  transition: box-shadow 0.25s ease-out;
}
.scrolled nav {
  box-shadow: 0 0 5px #eee;
}
nav ul {
  margin: 0;
  padding: 0 15px;
}
nav li {
  display: inline;
}
nav li:nth-child(3), nav li:nth-child(4) {
  float: right;
}
nav a {
  text-decoration: none;
  transition: all 0.25s ease-out;
  padding: 10px;
}
nav a * {
  vertical-align: middle;
}
nav a:hover {
}
nav a span {
  position: fixed;
  left: -200px;
}
nav a img {
  height: 20px;
}
@media (min-width: 940px) {
  nav ul {
    text-align: right;
  }
  nav li:nth-child(3), nav li:nth-child(4) {
    float: none;
  }
  nav a {
    padding: 15px;
  }
  nav a span {
    position: relative;
    left: 0;
    padding: 0 0 0 5px;
  }
}
#hero {
  position: relative;
  margin-top: 60px;
  background: #fff url(img/bg-hero-sm.jpg) no-repeat scroll center center;
  background-size: cover;
  height: 300px;
}
@media (min-width: 720px) {
  #hero {
    background-image: url(img/bg-hero.jpg);
    height: 500px;
  }
}
#we-build {
  margin: -74px 0 0 -152px;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 200px;
  left: 50%;
}
@media (min-width: 720px) {
  #we-build {
    top: 200px;
    margin: 0 0 0 -120px;
  }
}
#we-build li span {
  display: inline-block;
  font-family: varela_roundregular, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  box-shadow: 0 2px 4px #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 1px 5px 0;
  text-transform: uppercase;
  position: relative;
}
#we-build li:nth-child(1) span {
  font-size: 36px;
  transform: rotate(1deg);
}
#we-build li:nth-child(2) span {
  font-size: 20px;
  transform: rotate(-3deg);
  left: 128px;
}
#we-build li:nth-child(3) span {
  font-size: 24px;
  transform: rotate(9deg);
  left: 178px;
}
#we-build li:nth-child(4) span {
  font-size: 24px;
  transform: rotate(-9deg);
  left: 196px;
}
#we-build li:nth-child(5) span {
  font-size: 20px;
  transform: rotate(3deg);
  left: 155px;
}
main {
  min-height: 1000px;
}

.container {
  margin: 0 auto;
  padding: 100px 15px;
  max-width: 700px;
}
.container:first-child {
  margin-top: 0;
}

#sec-about {
  background: #18C8A0;
}
@media (min-width: 720px) {
  #sec-about {
    background: #18C8A0 url(img/bg-about.jpg) no-repeat scroll center center;
    background-size: cover;
  }
}
#sec-about h1, #sec-about blockquote p, #sec-about strong {
  color: #fff;
}
#sec-about p {
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}

#sec-portfolio {
  text-align: center;
}

#sec-contact {
  text-align: center;
}
#sec-contact .container {
  padding-bottom: 30px;
}

#sec-address {
  text-align: center;
}
#sec-address .container {
  padding: 30px 15px;
}
#sec-address iframe {
  width: 100%;
  height: 200px;
}


.piece.light h2, .piece.light blockquote p, .piece.light strong {
  color: #fff;
}
.piece.light p {
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}
.piece.light a {
  color: #fff;
}
.piece.dark a {
  color: #4A4A4A;
}
.piece.closed::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  margin: -50px 0 0;
  padding-bottom: 30px;
  background: transparent url(img/icon-arrow-down-dark.svg) no-repeat scroll center center;
  background-size: auto 40px;
  height: 40px;
  transition: all 0.25s;
}
.piece.closed.light::after {
  background-image: url(img/icon-arrow-down-light.svg);
}
.piece.closed:hover::after {
  top: 5px;
}
.piece .full {
  overflow: hidden;
  transition: all 0.25s ease-out;
}
.piece .open-arrow {
  display: block;
  text-align: center;
}
.piece.open .open-arrow {
  display: none;
}
.piece.open .container {
  padding: 100px 15px;
}
.piece.open .container {
}
.piece.closed .container {
  padding: 30px 15px;
}
.piece.closed {
  cursor: pointer;
}
.piece.closed .full {
  height: 0;
}
.piece.open .full {
  height: auto;
}
@media (min-width: 720px) {
  .piece.open .full {
    height: 500px;
  }
}



#piece-nodebots {
  background: #F8E01E;
}
#piece-meteor {
  background: #000;
}
#piece-meteor.open .full {
  height: 800px;
}
#piece-meteor.open .full iframe {
  margin: 30px auto !important;
}
#piece-polestar {
  background: #51346D;
}
#piece-intimate-objects {
  background: #fff;
}
#piece-driift {
  background: #1f6385;
}
#piece-nodeschool {
  background: #f45340;
}
@media (min-width: 720px) {
  #piece-nodebots {
    background: #F8E01E url(img/bg-piece-nodebots.jpg) no-repeat scroll center center;
    background-size: cover;
  }
  #piece-meteor {
    background: #000 url(img/bg-piece-meteor.jpg) no-repeat scroll center center;
    background-size: cover;
  }
  #piece-polestar {
    background: #51346D url(img/bg-piece-polestar.jpg) no-repeat scroll center center;
    background-size: cover;
  }
  #piece-intimate-objects {
    background: #fff url(img/bg-piece-io.jpg) no-repeat scroll center center;
    background-size: cover;
  }
  #piece-driift {
    background: #1f6385 url(img/bg-piece-driift.jpg) no-repeat scroll center center;
    background-size: cover;
  }
  #piece-nodeschool {
    background: #f45340 url(img/bg-piece-nodeschool.jpg) no-repeat scroll center center;
    background-size: cover;
  }
}

#mugshots {
  list-style-type: none;
  padding: 0;
}
#mugshots li {
  display: inline-block;
  margin: 0 15px;
}
#mugshots img {
  display: inline-block;
  border-radius: 50%;
}

footer {
  background: #fff;
  box-shadow: 0 0 5px #eee;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  color: #ccc;
}