<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" / >
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  {% if page.date %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:url" content="{{site.url}}{{page.url | relative_url}}" />
    <meta property="og:image" content="https://github.com/tableflip.png" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{page.excerpt | strip_html}}" />
    <meta property="article:published_time" content="{{page.date | date_to_xmlschema}}" />
    <meta property="article:author" content="https://github.com/{{page.author}}" />
    <meta property="article:section" content="Javascript" />
    <meta name="description" content="{{page.excerpt | strip_html}}" />
    <meta name="author" content="https://github.com/{{page.author}}" />
    <meta name="copyright" content="{{page.date | date_to_xmlschema}}" />
    <meta name="application-name" content="{{site.title}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{page.excerpt | strip_html}}" />
    <meta name="twitter:image" content="https://github.com/tableflip.png" />
  {% endif %}
  <link rel="icon" href="{{site.url | relative_url}}/favicon.ico" />
  <link rel="stylesheet" href="{{"/css/main.css" | relative_url}}"/>
  <link href="http://blog.tableflip.io/feed.xml" rel="alternate" type="application/atom+xml" title="the TABLEFLIP blog">
  <script src="{{"/public/main.js" | relative_url}}"/>
  <script>
    (function(w,i,z,a,r,d,y){w["GoogleAnalyticsObject"]=r;w[r]=w[r]||function(){
    (w[r].q=w[r].q||[]).push(arguments)},w[r].l=1*new Date();d=i.createElement(z),
    y=i.getElementsByTagName(z)[0];d.async=1;d.src=a;y.parentNode.insertBefore(d,y)
    })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
    ga("create", "UA-52178211-3", "auto");
    ga("send", "pageview");
  </script>
</head>
