{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<header id="header">
  <div id="logo">
    <a href="/" title="(╯°□°）╯︵ ┻━┻"><img src="/assets/img/tableflip.min.svg"></a>
  </div>
  <nav>
    <ul>
      <li><a href="#about" title="About"><img src="/assets/img/icon-info.svg"><span>About</span></a></li>
      <li><a href="#portfolio" title="Portfolio"><img src="/assets/img/icon-briefcase.svg"><span>Portfolio</span></a></li>
      <li><a href="http://blog.tableflip.io/" title="Blog"><img src="/assets/img/icon-blog.svg"><span>Blog</span></a></li>
      <li><a href="#contact" title="Contact"><img src="/assets/img/icon-phone.svg"><span>Contact</span></a></li>
    </ul>
  </nav>
</header>

{{! The main content area on the homepage }}
<main id="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>