<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="measure-wider center pa3" role="main">
      <h1 class="lh-title">{{page.title}}</h1>
      <div class="lh-copy">{{content}}</div>
      <a href="https://github.com/{{page.author}}" target="_blank" class="avatar-{{page.author}}"></a>
    </main>
    <nav class="post-nav flex items-center justify-between pv0" style="margin-top: 12rem;">
      {% if page.next.url %}
        <a class="flex-auto pa2 pl4 tl" href="{{page.next.url}}" style="line-height:3rem;">&#8592;  <span class="dn di-ns">{{page.next.title}}</span></a>
      {% endif %}
      {% if page.previous.url %}
        <a class="flex-auto pa2 pr4 tr" href="{{page.previous.url}}" style="line-height:3rem;"><span class="dn di-ns">{{page.previous.title}}</span> &#8594;</a>
      {% endif %}
    </nav>
    {% include footer.html %}
  </body>
</html>
